.cabecalho, 
.menu__lista {
    display: flex;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo {
    width: 10%;
}

.menu__itens {
    color: var(--branco);
    font-size: 25px;
    margin-left: 2em;
    transition: 0.5s
}

.menu__itens:hover {
    border-radius: 30px;
    background-color: var(--vermelho);
    padding: 0.5em;
    margin-left: 2em;
}

@media screen and (max-width: 1024px) {

    .cabecalho, 
    .menu__lista {
        padding: 2em;
    }

    .menu__lista {
        font-size: 15px;
    }

    .cabecalho__logo {
        width: 20%;
    }
}

@media screen and (max-width: 428px) {

    .cabecalho, 
    .menu__lista {
        padding: 1em;
    }

    .menu__lista {
        font-size: 10px;
    }

    .cabecalho__logo {
        width: 20%;
    }
    
}