.container {
    margin: 6em 2em;
    display: flex;
}

.container__descricao {
    color: var(--branco);
    font-weight: 300;
    width: 50%;
    margin: 2em 0;
}

.botao__trailer {
    color: var(--branco);
    border-radius: 30px;
    background-color: var(--vermelho);
    padding: 0.7em;
    text-transform: uppercase;
    font-weight: 700;
}

.botao__trailer:hover {
    background-color: var(--vermelho-escuro);
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--cinza);
    opacity: 0;
    visibility: hidden;
}

.conteudo__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar__modal {
    background-color: #ffffff;
    color: #f03a17;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.modal iframe {
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1024px) {
    
    .container {
        display: block;
        width: 100%;
        margin: auto 0.5em;
        padding: 2em 0;
        text-align: center;
    }
    
    .container__informacoes {
        width: 100%;
    }

    .imagem__informacoes {
        width: 90%;
        margin: 4em 0 1em 0;
    }

    .container__descricao {
        margin: auto;
        padding: 3em;
        width: 80%;
    }

    .botao__trailer {
        font-size: 18px;
        margin: 2em;
    }

    .container__imagem {
        width: 90%;
        padding: 3em 0;
    }
}

@media screen and (max-width: 428px) {

    .container {
        display: block;
        width: 100%;
        margin: auto 0.5em;
        padding: 2em 0;
        text-align: center;
    }
    
    .container__informacoes {
        width: 100%;
    }

    .imagem__informacoes {
        width: 70%;
    }

    .container__descricao {
        margin: auto;
        padding: 2em;
        width: 70%;
    }

    .botao__trailer {
        font-size: 15px;
        padding: 0.35;
    }

    .container__imagem {
        width: 70%;
        padding: 2em 0;
    }
}
